.sections__container{
  margin: 0 auto;
  width: 90%;
  height: 77vh;
}
.sections__container .add_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}